body {
	margin: 0;
	background: teal;
}

header {
	background: #043434;
	height: 80px;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	border: 3px solid white;
	float: left;
	width: 200px;
	height: 60px;
	padding: 5px;
	margin: 10px;
}

.navbuttons {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
	margin-right: 100px;
}

#home {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	line-height: 80px;
}

nav a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	line-height: 80px;
	transition-duration: 0.8s;
}

nav a:hover {
	font-size: 20px;
	text-decoration: underline 5px;
}

nav a:focus {
	font-size: 20px;
	text-decoration: underline 5px;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	text-align: center;
	color: white;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 70px 70px 550px;
	padding-top: 20px;
}

.header {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
}

.skill {
	color: white;
	text-align: center;
}

p {
	padding: 10px 50px;
	color: white;	
}

.footer {
	position: relative;
	margin-bottom: 0px;
	background-color: white;
}

ul li {
	display: inline-block;
	margin-right: 20px;
}

.social {
	height: 150px;
	width: auto;
	display: inline-block;
	list-style-type: none;
	margin-top: 0;
	margin-left: 50%;
	transform: translateX(-115px);
	padding-top: 30px;
	padding-left: 0px;
}

.icons {
	height: 40px;
	width: 40px;
}

.foot1 {
	color: black;
	padding-left: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.foot2 {
	color: black;
	margin: 0px;
	padding-left: 35px;
	padding-top: 10px;
}

@media (max-width: 1500px)
{	
	.grid
	{
		box-sizing: content-box;
	}

	.grid::after
	{
	content:''
	}

	.grid .grid-container 
	{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 70px 70px auto 70px auto 70px auto;
	padding-top: 20px;
	padding-bottom: 30px;
	}

	.grid .header 
	{
	grid-row-start: 1;
	grid-row-end: 2;
	max-width: auto;
	}

	.grid .skill1 
	{
	grid-row-start: 2;
	grid-row-end: 3;
	}
	
	.grid .elaboration1 
	{
	grid-row-start: 3;
	grid-row-end: 4;
	}
	
	.grid .skill2
	{
	grid-row-start: 4;
	grid-row-end: 5;
	}
	
	.grid .elaboration2 
	{
	grid-row-start: 5;
	grid-row-end: 6;
	}
	
	.grid .skill3
	{
	grid-row-start: 6;
	grid-row-end: 7;
	}
	.grid .elaboration3 
	{
	grid-row-start: 7;
	grid-row-end: 8;
	}
}

@media (max-width: 650px)
{
	.logo 
	{
	border: 3px solid white;
	float: left;
	width: 200px;
	height: 60px;
	padding: 5px;
	margin: 10px;
	margin-left: 50%;
	transform: translateX(-92px);
	}
	

	header 
	{
	background: #043434;
	height: 150px;
	}

	nav .navbuttons
	{
		width: 550px;
	}

	.navbuttons li
	{
		margin-left: 20px;
		margin-right: 40px;
	}
}

@media (max-width: 550px)
{
	.social
	{
		margin-left: 50%;
		width: 100%;
	}

	.social li
	{
		margin-right: 0;
		margin-left: 10px;
	}

	.foot1 
	{
	padding-left: 50px;
	margin-left: -10px;
	padding-bottom: 0px;
	}
	
	.foot2 
	{
	margin-left: 20px;
	padding-left: 10px;
	padding-top: 10px;
	}
}